@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 980px) {

}

@media only screen and (max-width: 770px) {

  .pellet {
   display: none;
  }
  // section header
  h1{
    font-size: 200%!important;
  }
  .sections-01-head .section01-bg-1 {
    right: 0;
    top: 0;
  }
  .sections-01-head .logo {
    text-align: center;
  }
  .sections-01-head .header-contact {
   text-align: center;
  }
  .sections-01-head .head-middle-block {
    width: 100%;
    height: 100%;
    margin: 243px auto 100px;
    text-align: center;
  }
  .mouse {
    display: none;
  }
  .sections-01-head .head-middle-block h1 {
    font-size: 200%;
  }

  .section-what-getting .logo {
   text-align: center;
  }

  .section-what-getting h1 {
    margin-top: 30px;
  }

  // end section header

  // section-what-getting

  .section-what-getting .header-contact {
    text-align: center;
  }
  .section-what-getting .margin-text-1{
    margin: 30px 0;
  }
  .section-what-getting .margin-text-2 {
    margin: 30px 0;
  }
  .section-what-getting .margin-text-3 {
    margin: 30px 0;
  }
  .section-what-getting .margin-text-4 {
    margin: 30px 0;
  }
  .section-what-getting h2 {
    margin-bottom: 15px;
  }
  //end section-what-getting

// section topical-goods
  .topical-goods .fire {
    display: none;
  }
  .topical-goods .logo{
    text-align: center;
  }
  .topical-goods .header-contact {
    text-align: center;
  }
  .topical-goods h1 {
    margin: 30px auto;
  }
  .topical-goods p {
    margin: 30px auto;
    width: 100%;
  }
  .topical-goods .item {
    position: relative;
    height: 100%;
    width: 100%;
    margin-bottom: 30px;
  }
  // end section topical-goods

  // section successful-business
  .successful-business .logo{
   text-align: center;
  }
  .successful-business .header-contact {
    text-align: center;
  }
  .successful-business h1 {
   width: 100%;
    line-height: inherit;
  }
  .successful-business .most-important {
    display: none;
    width: 100%;
    p{
      width: 100%;
    }
  }
  .successful-business h2 {
    width: 100%;
    line-height: inherit;
    margin-left: 0;
    margin-top: 50px;
  }
  .successful-business p {
    margin-left: 0;
    margin-top: 30px;
    width: 100%;
  }
  .successful-business .left-block .col-md-12 {
    margin-bottom: 0;
  }
  .successful-business .right-block .col-md-12 {
    margin-top: 0;
  }
  .successful-business .left-block p{
  }
  .successful-business .right-block .col-md-12 {
  }
  .successful-business .right-block{
    margin-bottom: 150px;
  }
  .successful-business .right-block p{
  }

  // end section successful-business
  // stand-out section
  .stand-out .logo  {
    text-align: center;
  }
  .stand-out .header-contact{
   text-align: center;
  }
  .stand-out h1 {
    width: 100%;
  }
  // end stand-out section
}

@media only screen and (max-width: 736px) {

}

@media only screen and (max-width: 500px) {

}

@media only screen and (max-width: 320px) {

}