.sections-01-head {

  height: 100%;
  width: 100%;
  position: relative;
  .section01-bg {
    position: absolute;
    left: 50px;
    bottom: 0;
    img {
      width: 550px;
    }
  }
  .section01-bg-1 {
    position: absolute;
    right: 50px;
    top: 380px;
    img {
      width: 600px;
    }
  }
  .head{
    position: fixed;
    height: 76px;
    z-index: 9999;
    padding: 0;
  }
  .logo img {
    width: 153px;
    margin-top: 26px;
  }
  .header-contact {
    margin-top: 26px;
    span {
      margin-top: 19px;
      display: inline-block;
    }
    button {
    }
  }
  .head-middle-block {
    width: 683px;
    height: 400px;
    margin: 270px auto 338px auto;
    text-align: center;
    font-family: 'Lora', serif;
    font-weight: 400;
    h1 {
      font-size: 60px;
      margin: 0;

    }
    p {
      font-size: 30px;
      margin: 30px 0 40px 0;
    }
    span {
      text-align: center;
      font-size: 18px;
      font-family: 'Ubuntu', sans-serif;
      font-weight: 300;
      display: inline-block;
    }
    button {
      font-family: 'Ubuntu', sans-serif;
      font-weight: 500;
      width: 240px;
      height: 70px;
      background: #fee133;
      border-radius: 100px;
      border: none;
      font-size: 20px;
      outline: 0;
      margin-top: 50px;
      &:hover{
        transform: scale(1.03);
        transition: 300ms ease;
      }
    }
  }

}