.ready-conditions{
  position: relative;
  width: 100%;
  display: block;
 h1{
   width: 803px;
   margin: 260px auto 70px auto;
   color: black;
   font-family: 'Lora', serif;
   font-size: 36px;
   font-weight: 400;
   line-height: 50px;
 }
  .block-form{
    width: 100%;
    height: 431px;
    box-shadow: -4.1px 2.8px 15px rgba(17, 17, 17, 0.15);
    position: relative;
    margin-bottom: 224px;
    button{
      margin-left: 60px;
      margin-top: 40px;
      width: 170px;
      height: 64px;
      background-color: #fee133;
      border-radius: 32px;
      border: none;
      outline: 0;
      font-family: 'Ubuntu';
      font-size: 16px;
      font-weight: 500;
      &:hover{
        transform: scale(1.03);
        transition: 300ms ease;
      }
    }
    input{
      display: block;
      width: 322px;
      border: 0;
      border-bottom: 1px solid #f0f0f0;
      margin-left: 60px;
      margin-top: 30px;
      &::placeholder{
        color: #000000;
        padding-bottom: 50px;
      }
    }
    h2{
      position: relative;
      margin-left: 60px;
      color: black;
      font-family: 'Lora', serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      padding-top: 70px;
    }

  }
  .icon-block{
    span{
      width: 77px;
      height: 77px;
      background-color: #fee133;
      border-radius: 50%;
      display: inline-block;
      text-align: center;
    }
    p{
      margin-top: 30px;
      margin-bottom: 70px;
      width: 100%;
      color: black;
      font-family: 'Ubuntu';
      font-size: 18px;
      font-weight: 300;
      line-height: 32px;
    }
  }
  .block-item{
    height: 250px;
  }
}