.section-quote {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #a4d5ff;
  .quotes {
    margin-top: 262px;
  }
  &__slider {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    background: transparent;
    border: none;
    .flex-direction-nav {
      display: none;
    }
    .slides{
      display: block;
      position: relative;
      float: left;
      width: 100%;
      margin-top: 44px;
    }
    &--item{
      display: block;
      position: relative;
      float: left;
      width: 100%;
      height: 178px;
      color: black;
      font-family: 'Ubuntu', sans-serif;
      font-size: 18px;
      font-weight: 300;
      line-height: 32px;
      @include breakpoint(max-width 670px){
        height: 368px;
        font-size: 14px;
        line-height: 24px;
      }
    }
  }
  &__carousel{
   display: block;
    position: relative;
    float: left;
    width: 670px;
    margin-left: calc(50% - (670px/2));
    background: transparent;
    border: none;
    margin-bottom: 197px;
    @include breakpoint(max-width 670px){
      width: 100%;
      margin-left: 0;
    }
    .slides{
      display: block;
      position: relative;
      width: 100%;
      float: left;
      li{
        opacity: 0.6;
        cursor: pointer;
      }
      li.flex-active-slide{
        opacity: 1;
        cursor: pointer;
      }
    }
  }
  &__item {
    display: block;
    position: relative;
    width: 100%;
    float: left;
    &--img {
      width: 90px;
      height: 90px;
      overflow: hidden;
      display: block;
      position: relative;
      float: left;
      border-radius: 50%;
      z-index: 2;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &--name {
      float: left;
      position: relative;
      padding-left: 20px;
      @include box-sizing(border-box);
      h3 {
        color: black;
        font-family: 'Lora', serif;
        font-size: 20px;
        font-weight: 400;
        margin: 0;
        margin-top: 24px;
      }
      p {
        color: black;
        font-family: 'Ubuntu', sans-serif;
        font-size: 16px;
        font-weight: 300;
        margin: 0;
      }
    }

  }
  .owl-controls{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    .owl-next{
      float: right;
      display: block;
      position: relative;
      width: 18px;
      height: 32px;
      color: transparent;
      background-image: url('../img/icons/next.png');
      background-repeat: no-repeat;
      object-fit: contain;
      top: 30px;
    }
    .owl-prev{
      float: left;
      display: block;
      position: relative;
      color: transparent;
      top: 30px;
      width: 18px;
      background-image: url('../img/icons/prev.png');
      background-repeat: no-repeat;
      object-fit: contain;
      height: 32px;
    }
  }
}