.section-what-getting{
  position: relative;
  display: block;
  background-color: #fee133;
  float: left;
  width: 100%;
  height: 100%;
  h1{
    font-size: 36px;
    margin-top: 250px;
    color: black;
    font-family: 'Lora', serif;
    font-weight: 400;
  }
  h2{
    width: 152px;
    color: black;
    font-family: 'Lora', serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
  }
  p{
    width: 254px;
    color: black;
    font-family: 'Ubuntu';
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
  }
  .margin-text-1{
    margin-top: 230px;
    margin-bottom: 280px;
  }
  .margin-text-2{
    margin-top: 180px;
  }
  .margin-text-3{
    margin-top: 130px;
  }
  .margin-text-4{
    margin-top: 80px;
  }
}