.section-what-getting{
  position: relative;
  display: block;
  background-color: #fee133;
  height: 100vh;
  .logo img {
    width: 153px;
    margin-top: 26px;
  }
  .header-contact {
    margin-top: 26px;
    span {
      margin-top: 19px;
      display: inline-block;
    }
    button {
      color: #000;
      border-color: #000;
    }
  }
  h1{
    font-size: 36px;
    margin-top: 100px;
  }
  h2{
    width: 152px;
    height: 80px;
    color: black;
    font-family: 'Lora', serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
  }
  p{
    width: 254px;
    height: 135px;
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
  }
  .margin-text-1{
    margin-top: 180px;
    box-sizing: border-box;
  }
  .margin-text-2{
    margin-top: 140px;
    box-sizing: border-box;
  }
  .margin-text-3{
    margin-top: 90px;
    box-sizing: border-box;
  }
  .margin-text-4{
    margin-top: 50px;
    box-sizing: border-box;
  }
}