.stand-out{
  position: relative;
  height: 100vh;
  .logo img {
    width: 153px;
    margin-top: 26px;
  }
  .header-contact {
    margin-top: 26px;
    span {
      margin-top: 19px;
      display: inline-block;
    }
    button {
      color: #0098cd;
    }
  }
  h1{
    width: 899px;
    height: 88px;
    margin: 100px auto;
    color: black;
    font-family: 'Lora', serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 50px;
  }
  .block-percentages{
    span{
      height: 90px;
      width: 90px;
      border-radius: 50%;
      background-color: #fee133;
      display: block;
      text-align: center;
      margin: 0 auto 30px auto;
      font-family: 'Lora', serif;
      font-size: 56px;
      font-weight: 400;
    }
    p{
      text-align: center;
      width: 298px;
      height: 50px;
      color: black;
      font-family: 'Ubuntu', sans-serif;
      font-size: 18px;
      font-weight: 300;
      line-height: 32px;
      margin: 0 auto;
    }
    a{
      margin-top: 100px;
      margin-left: 200px;
      display: inline-block;
      width: 132px;
      height: 41px;
      color: #0098cd;
      font-family: 'Ubuntu',sans-serif;
      font-size: 18px;
      font-weight: 300;
      line-height: 24px;
    }

  }
  .banks-absolute{
    position: absolute;
    bottom: 80px;
    left: 0;
  }

}