.stand-out{
  position: relative;
  height: 100%;
  width: 100%;

  h1{
    width: 899px;
    margin: 180px auto 85px auto;
    color: black;
    font-family: 'Lora', serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 50px;
  }
  .block-percentages{
    span{
      height: 90px;
      width: 90px;
      border-radius: 50%;
      background-color: #fee133;
      display: inline-block;
      font-family: 'Lora', serif;
      font-size: 56px;
      font-weight: 400;
    }
    p{
      text-align: center;
      width: 298px;
      color: black;
      font-family: 'Ubuntu';
      font-size: 18px;
      font-weight: 300;
      line-height: 32px;
      margin: 80px auto;
    }
    a{
      position: relative;
      display: block;
      width: 132px;
      height: 41px;
      color: #0098cd;
      font-family: 'Ubuntu';
      font-size: 18px;
      font-weight: 300;
      line-height: 24px;
      margin-bottom: 134px;
      margin-top: 300px;
    }

  }
  .banks-absolute{
    position: absolute;
    bottom: 80px;
    left: 0;
    img{
      height: 112px;
    }
  }

}