.successful-business{
  position: relative;
  height: 100vh;
  display: block;
  background-image: url('../img/section4/bg.png');
  background-size: cover;
  .logo img {
    width: 153px;
    margin-top: 26px;
  }
  .header-contact {
    margin-top: 26px;
    span {
      margin-top: 19px;
      display: inline-block;
    }
    button {
      color: #fff;
      border-color: #fff;
    }
  }
  h1{
    width: 549px;
    height: 88px;
    color: black;
    font-family: 'Lora', serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 50px;
    margin: 50px auto;
  }
  h2{
    width: 434px;
    height: 55px;
    color: black;
    font-family: 'Lora' ,serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    float: right;
  }
  .text-business{
    img{
      display: block;
      float: left;
    }
  }
  p{
    width: 320px;
    height: 113px;
    color: black;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
  }
}